extends ../layout

block content
  .row.application-header
    .col-xs-8
      h2 #[a(href="/applications/#{application.name}") #{application.name}]
    .col-xs-4.application-addToSlackBtn
      a.pull-right(href='#{platforms.slack.baseSite}#{platforms.slack.authorizePath}?scope=incoming-webhook,bot&client_id=16573442774.17151776516&state=#{oAuthState}')
        img(alt='Add to Slack', height='40', width='139',
          src='https://platform.slack-edge.com/img/add_to_slack.png',
          srcset='https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x')

  .row.application-content
    .col-sm-3
      embed.application-icon(src='/images/applications/#{application.name}/icon.svg')
      p #[a(href="/applications/#{application.name}/changelog") changelog]
    .col-sm-9
      strong What is #{application.name}?

      p.
        buttonwood is a Slack app that provides
        pricing information about stocks whenever a cash tag (like $AAPL)
        is mentioned in a channel that @buttonwood is in, or when mentioning or
        directly talking to @buttonwood.

      strong What else?

      p.
        In the future, we'd like to add personalized alerts to help monitor large
        movements in stock prices, macroeconomic events, and company news.

      p.
        If you'd like to see additional features, e-mail us at
        #[a(href="mailto:feedback@the-brain-trust.com") feedback@the-brain-trust.com].

      strong Why the name?

      p.
        buttonwood is named after
        #[a(href="https://en.wikipedia.org/wiki/Buttonwood_Agreement") The Buttonwood Agreement]
        which established the New York Stock &amp; Exchange Board, or in its modern
        nomenclature, the New York Stock Exchange.

