extends ../layout

block content
  h2 applications

  .table-responsive.models
    table.table
      thead
        th name
        th edit
        th author
        th contact
        th last published
        th page views
        th permissions granted
        th messages sent
        th messages received
        th enabled
      tbody
        each application in applications
          tr
            td #[a(href="/applications/#{application.name}") #{application.name}]
            td #[a(href="/applications/#{application.name}/edit") edit]
            td= application.author
            td= application.contact
            td= application.lastPublishedAt
            td= application.pageViews
            td n/a
            td= application.messagesSent
            td= application.messagesReceived
            td= application.enabled

