extends ../layout

block content
  h2 applications

  .table-responsive.models
    table.table
      thead
        th name
        th edit
        th author
        th contact
        th description
        th changelog
        th page views
        th permissions granted
        th messages sent
        th messages received
        th status
      tbody
        each application in applications
          td #[a(href="/applications/#{application.name}") #{application.name}]
          td #[a(href="/applications/#{application.name}/edit") edit]
          td= application.author
          td= application.contact
          td= application.description
          td= application.changelog
          td= application.pageViews
          td n/a
          td n/a
          td n/a
          td n/a

