extends ../layout

block content
  h2.
    #[a(href='/applications/') applications]
    &nbsp;&gt;&nbsp;
    #[a(href='/applications/#{application.name}') #{application.name}]
    &nbsp;&gt;&nbsp;
    platforms

  .application-permissions
    each platform in platforms
      - var action = 'platforms'
      if platform.ApplicationPlatforms[0].id
        - action = action + '/' + platform.ApplicationPlatforms[0].id

      .row
        .col-md-12
          h3= platform.name
          p= platform.description
      .row
        .col-md-3
          div(class='platform-icon icon--#{platform.name}')
          ul.list-unstyled
            li #[a(href='#{platform.website}', target='_blank') website (external link)]
        .col-md-9
          form(name=platform.name, action=action, method='post', accept-charset='utf-8')
            input(type='hidden', name='platform_id', value=platform.id, required='')
            .form-group
              label(for='token') token
              input.form-control(type='password', name='token', pattern='^[a-zA-Z0-9-]+$', value=platform.ApplicationPlatforms[0].token, required='')
              p.help-block Authentication token provided by the chat platform.
            .form-group
              label(for='clientId') client id
              input.form-control(type='text', name='clientId', pattern='^[a-zA-Z0-9-]+$', value=platform.ApplicationPlatforms[0].clientId)
              p.help-block Client id provided by the chat platform.
            .form-group
              label(for='scope') scope
              input.form-control(type='text', name='scope', pattern='^[a-zA-Z0-9-,]+$', value=platform.ApplicationPlatforms[0].scope)
              p.help-block Scope to request
            .form-group
              label(for='commandToken') command token
              input.form-control(type='text', name='commandToken', pattern='^[a-zA-Z0-9-]+$', value=platform.ApplicationPlatforms[0].commandToken)
              p.help-block Slack-specific token to authenticate slash command requests.
            .form-group.pull-right
              button(type='reset' class='btn btn-default') reset
              &nbsp;
              button(type='submit' class='btn btn-primary') save