extends ../layout

block content
  .row.application-header
    .col-xs-8
      h2
        if isAuthenticated
          #[a(href="/applications/") applications]
          &nbsp;&gt;&nbsp;
        span.
          #{application.name}
    .col-xs-4.application-addToSlackBtn
      a.pull-right(href='#{platforms.slack.baseSite}#{platforms.slack.authorizePath}?scope=incoming-webhook,bot&client_id=16573442774.17151776516&state=#{oAuthState}')
        img(alt='Add to Slack', height='40', width='139',
          src='https://platform.slack-edge.com/img/add_to_slack.png',
          srcset='https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x')

  .row.application-content
    .col-md-3
      include ./sidebar.jade
    .col-md-9
      .application-description!= marked(application.description)
