doctype html
html
  head
    if title
      title= title
    else
      title= 'the brain trust'
    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/bower_components/webcomponentsjs/webcomponents-lite.min.js')
    script(type='text/javascript' src='/javascripts/index.js')
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5695d66f19b0b92e', async='async')
    link(rel="stylesheet" href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bower-sticky-footer/dist/css/sticky-footer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='import', href='/bower_components/google-analytics/google-analytics.html')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    if metaDescription
      meta(name='description' content=metaDescription)
    else
      meta(name='description' content='Makers of buttonwood, the financial markets Slack app.')

  body
    if process.env.NODE_ENV == 'production'
      google-analytics(code='UA-71658652-1')

    if flash.info && flash.info.length > 0
      .flash.alert-info(role='alert')
        span.glyphicon.glyphicon-info-sign(aria-hidden="true") &nbsp;
        span #{flash.info}
    if flash.success && flash.success.length > 0
      .flash.alert-success(role='alert')
        span.glyphicon.glyphicon-ok-sign(aria-hidden="true") &nbsp;
        span #{flash.success}
    if flash.warning && flash.warning.length > 0
      .flash.alert-warning(role='alert')
        span.glyphicon.glyphicon-warning-sign(aria-hidden="true") &nbsp;
        span #{flash.warning}
    if flash.error && flash.error.length > 0
      .flash.alert-danger(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true") &nbsp;
        span #{flash.error}

    .container
      .row.header
        .col-xs-7
          h1 #[a.header-title(href='/') the brain trust]
        .col-xs-5
          span.header-links.pull-right
            if isAuthenticated
              span #[a(href='/admin') #{user.email}]&nbsp;
              span |
              &nbsp;#[a(href='/logout') logout]
            else
              #[a(href='/login') login]
      block content
  footer.footer
    .container
      p.text-muted all rights reserved | #[a(href='/privacy-policy') privacy policy] | #[a(href='mailto:info@the-brain-trust.com') contact]
